.about-container {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    padding: 80px 40px;
    min-height: 100vh;
    gap: 40px;
    opacity: 0; 
    transform: translateY(50px); 
    transition: all 0.6s ease-out;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
}

.about-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content h1 {
    align-self: self-start;
      font-family: 'Irish Grover', cursive;
    font-size: 150px;
    margin-bottom: 20px;
}

.about-content h4 {
    position: absolute;
    margin-top: 20px;
    font-size: 36px;
    top: 100%;
    left: 80%;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 27px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 1200px;
    margin: 0 auto 25px auto;
    text-align: center;
}

.about-content p span{
 background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  font-size: 25px;
  padding: 5px 15px;   
  margin: 0 5px;     
  display: inline-block; 
}