.contact-section {
  background-color: transparent;
  color: #fff;
  margin-top: 120px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.contact-container {
  max-width: 1000px;
  width: 100%;
  text-align: center;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.contact-form {
  background: black;
  margin-top: 60px;
  padding: 40px 40px;
  border: 1px solid #adadad;
  border-radius: 40px;
}

.contact-container h2 {
  color: black;
  margin-bottom: 25px;
  font-family: 'Irish Grover', cursive;
  align-self: self-start;
  font-size: 120px;
}

.contact-container p {
  color: black;
  margin-bottom: 20px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 24px;
}

.contact-container p span {
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  font-size: 25px;
  padding: 5px 15px;
  margin: 0 5px;
  display: inline-block;
}


.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background: #ffffff;
  color: #000000;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 6px;
  font-size: 18px;
}

.submit-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  padding: 10px 60px;
  border: 1px solid rgb(214, 214, 214);
  margin-top: 20px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
}

.text-slide {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
}
