.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main-page {
  width: 98%;
  position: relative;
  max-width: 1780px;
  margin: 2% auto;
  border-radius: 40px;
  border: 1px solid #adadad;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #000 40%, #333);
  height: 95vh;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  overflow: hidden;
}

.architect-hero {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  padding: 60px 40px;
  font-family: 'Segoe UI', sans-serif;
}

.hero-content {
  z-index: 2;
  position: relative;
  padding-top: 2rem;
}


.hero-content {
  flex: 1;
  text-align: center;
}

.top-line,
.bottom-line {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
}

.main-title {
  font-size: 200px;
  font-weight: 600;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-bottom: 25px;
}

.coding{
 width: 140px;
  height: 140px;
  border-radius: 50%;
   display: inline-block;
  object-fit: contain;
  transform: translateY(10px); 
  display: inline-block;
  vertical-align: middle;
}

.down-arrow {
  position: absolute;
  right: 50px;    
  bottom: 50px;     
  background: #ffffff; 
  border-radius: 50%; 
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  animation: rotateSlow 5s linear infinite;
}

.down-arrow:hover {
  background: #cfcfcf;
  transform: translateY(5px);
}

@keyframes rotateSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
