.main-container {
  height: 100vh;
  background-color: white;
}

.architect-hero {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  padding: 8rem 8rem;
  font-family: 'Segoe UI', sans-serif;
}

.main-title {
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: "Irish Grover", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-bottom: 25px;
}

.subtitle {
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: #818181;
  margin-bottom: 8rem;
}

.left-div {
  display: flex;
  align-items: self-start;
  max-width: 50%;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 28px;
  border: 2px solid #fff;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #fff;
  color: #000;
}

.primary-btn:hover {
  background-color: black;
  color: #fff;
}

.secondary-btn {
  background-color: black;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #fff;
  color: #000;
}