.main-container {
  height: 100vh;
  background-color: white;
}

.architect-hero {
  display: flex;
  flex-direction: column;  
  align-items: center;      
  justify-content: center;   
  min-height: 90vh;        
  text-align: center;                   
  font-family: 'Segoe UI', sans-serif;
}

.main-title {
  font-size: 180px;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: "Irish Grover", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-bottom: 25px;
}

.subtitle {
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #818181;
  margin-bottom: 4rem;
}

.left-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-group {
  display: flex;
  background-color: #000000;
  padding: 15px 25px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;              
  text-decoration: none;
  background-color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 8px 20px;
  border: 2px solid #fff;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #ffffff;
  color: #000000;
}

.icon-btn{
  font-size: 35px;
  margin-left: 20px;
}

.contact-icon{
  margin-left: 50px;
  font-weight: 900;
}