.main-navbar {
  overflow: hidden;
  background: #ffffff;
  padding: 25px 0;
}

.scroll-container {
  display: flex;
  width: max-content;
  white-space: nowrap;
  position: relative;
}

.scroll-text {
  display: flex;
  animation: scroll 20s linear infinite;
}

.nav-logo {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 200px;
  color: rgb(0, 0, 0);
  font-family: "Irish Grover", system-ui;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}